<!-- INCLUDE header.html -->
<div class="block">
    <h1>Creating New Event</h1>
    <p>Fill in the form below to add a new event</p>
    <form action="./admin/events/add-event/" method="post">
        <b>Event Title:</b> <input type="text" name="event_title"/><br/>
        <b>Event Time:</b> <input type="text" name="event_time" value="yyyy-mm-dd hh:mm"/><br/>
        <b>Event Description:</b> <textarea name="event_text"></textarea><br/>
        <center><input type="submit" name="submit_event"/></center>
    </form>
</div>
<!-- INCLUDE footer.html -->