<!-- INCLUDE header.html -->
<!-- IF ERROR > 0 -->
<div class="block">
    <h1>Error</h1>
    <p>{ERROR_MSG}</p>
</div>
<!-- ELSE -->
<!-- IF MESSAGE > 0 -->
<div class="block"><h1>Message</h1><p>{TEXT}</p></div>
<!-- ENDIF -->
<div class="block">
    <h1>Github Update Module ACP</h1>
    <p>Welcome to the module. Click the button below to update all the commits :)</p>
    <div class="rightbutton"><a class="mainaction" href="./admin/&mod=github_updates&do=update">Update!</a></div>
</div>
<!-- ENDIF -->
<!-- INCLUDE footer.html -->