<!-- INCLUDE header.html -->
<!-- IF ERROR > 0 -->
<div class="block">
    <h1>Error</h1>
    <p>{ERROR_MSG}</p>
</div>
<!-- ELSE -->
<div class="block">
    <h1>Commits</h1>
    <table width="100%">
        <tr><th>Date</th><th>Author</th><th>View</th></tr>
        <!-- BEGIN commits -->
        <tr>
            <td>{commits.COMMIT_TIME}</td>
            <td>{commits.COMMIT_AUTHOR}</td>
            <td><a href="./github_updates/view/{commits.COMMIT_SHA}/">View</a></td>
        </tr>
        <!-- END commits -->
    </table>
</div>
<!-- ENDIF -->
<!-- INCLUDE footer.html -->
